.Logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  position: relative;

  img {
    width: 5rem;
    height: 4rem;
  }
}

.LogoName {
  /*position: relative;
  top: 50%;
  left: 5.5rem;
  transform: translateY(-50%);
  
  color: white;
  font-size: 500;*/
  
  display: inline-block;
  color: white;
  font-size: 500;
  margin-left: .5rem;
}