@import '../../scss/mixins.scss';

.Presentation {
  padding: 10rem 0;
  background-color: white;
  margin-top: -1.2rem;
  transform: rotate(2deg) translateX(-13.5px);
  
  display: flex;
  justify-content: center;
  
  position: relative;
  z-index: 20;
}

.Container {
  transform: rotate(-2deg);

  img {
    width: 55rem;
    height: 40rem;
    
    @include respond(phone) {
      width: 45rem;
      height: 30rem;
    }
    
    @include respond(sm-phone) {
      width: 35rem;
      height: 20rem;
    }
  }
}

.Title, .Subtitle {
  text-align: center;
  color: #4F79A4;
}

.Title {
  font-size: 4.5rem;
  font-size: 600;
  font-family: 'Gilroy-Bold', sans-serif;
  
  @include respond(phone) {
    font-size: 4rem;
  }
}

.Subtitle {
  font-size: 3.5rem;
  font-size: 300;
  font-family: 'Gilroy-Regular', sans-serif;
  margin-bottom: 3rem;
  
  @include respond(phone) {
    font-size: 2.5rem;
  }
}