@import '../../scss/mixins.scss';

@mixin animationScroll() {
  animation-play-state: paused;
  animation-delay: calc((var(--scroll) + 0.2) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.Progress {
  padding: 6rem;
  
  display: flex;
  position: relative;
  
  @include respond(desktop) {
    padding: 6rem 2rem;
  }
  
  @include respond(tablet) {
    padding: 6rem 0;
  }
  
  @include respond(phone) {
    flex-direction: column;
  }
}

.SideContent {
  flex: 1;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
  &Right {
    padding-top: 25rem;
    
    @include respond(phone) {
      padding-top: 5rem;
      position: absolute;
      top: 28rem;
      z-index: 10;
    }
  }
  
  &Left {
    padding-bottom: 3rem;
    
    @include respond(phone) {
      padding-bottom: 0;
    }
  }
}

.SnakeProgress {
  overflow: hidden;
  background-color: rgba(#E6E8EC, 10%);
  height: 75rem;
  width: 10rem;
  border-radius: 16rem;
  position: relative;

  &::after {
    content: '';
    width: 100%;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: inherit;
    background-color: #70DDFF;
    animation: animationSnake 1s linear;
    
    @include animationScroll();
  }
  
  @include respond(tablet) {
    display: none;
  }
}

@keyframes animationSnake {
  to {
    height: 100%;
  }
}