@import '../../../scss/mixins.scss';

.PortraitDesc {
  color: white;
  width: 55%;

  @include respond(desktop) {
    width: 50%;
  }
  
  @include respond(tablet) {
    width: 65%;
  }
  
  @include respond(phone) {
    width: 80%;
  }
  
  @include respond(sm-phone) {
    width: 95%;
  }
}

.PortraitTitle {
  font-size: 4rem;
  font-family: 'Gilroy-Bold', sans-serif;
}

.PortraitText {
  font-size: 1.6rem;
  opacity: .8;
}