.PortraitDesc {
  color: white;
  width: 55%;
  margin-bottom: 2rem;
}

.PortraitTitle {
  font-size: 4rem;
  font-family: 'Gilroy-Bold', sans-serif;
}

.PortraitText {
  font-size: 1.6rem;
  opacity: .8;
}