@import '~antd/dist/antd.css';

@import './scss/mixins.scss';

html {
  font-size: 62.5%;
  
  @include respond(big-desktop) {
    font-size: 73%;
  }
  
  @include respond(tablet) {
    font-size: 60%;
  }
}

body {
  font-size: 1.5rem;
  font-family: 'Cabin', sans-serif;
  overflow-x: hidden;
}

html, body {
  width: initial !important;
  height: initial !important;
}