.Portrait {
  padding: 3rem 10rem;
  padding-bottom: 20vh;
  height: 120vh;
  background-image: linear-gradient(to bottom right, #0470DC, #13F1FC);
  
  display: flex;
  flex-direction: column;
  
  position: relative;
}

.PortraitSearch {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}